<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>{{ site.title }}</title>

  <meta name="description" content="{{ site.description }}"/>
  <meta name="robots" content="index, follow, all"/>
  <meta name="author" content="Ashton Kinslow">
  <meta name="publisher" content="Ashton Kinslow">
  <meta name="geo.region" content="US-TX"/>
  <meta name="geo.placename" content="Dallas"/>
  <meta name="google" content="notranslate"/>

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-title" content="Ashton Kinslow">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>
